if SHIELD_PIANTOR_PICO2_LEFT

config ZMK_KEYBOARD_NAME
    default "Piantor Pico2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_PIANTOR_PICO2_RIGHT

config ZMK_USB
    default n

endif

if SHIELD_PIANTOR_PICO2_LEFT || SHIELD_PIANTOR_PICO2_RIGHT

config ZMK_SPLIT
    default y

endif
