#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                &kp Y      &kp U      &kp I      &kp O      &kp P          &kp BACKSPACE
                &kp H      &kp J      &kp K      &kp L      &kp SEMICOLON  &kp SINGLE_QUOTE
                &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH      &kp RIGHT_SHIFT
                &kp SPACE  &kp ENTER  &kp RIGHT_ALT
            >;
        };
    };
};
