#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                &kp TAB           &kp Q      &kp W      &kp E      &kp R      &kp T
                &kp LEFT_CONTROL  &kp A      &kp S      &kp D      &kp F      &kp G
                &kp LEFT_SHIFT    &kp Z      &kp X      &kp C      &kp V      &kp B
                &kp LEFT_GUI      &kp SPACE  &kp BACKSPACE
            >;
        };
    };
};
